node_modules
# Dependency and build artifacts
node_modules/
dist/
.cache/

# Environment config
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store

# IDEs
.vscode/
.idea/

